# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Node
# ===============================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# React Native
# ===============================
.expo/
.metro-health-check*

# ===============================
# Android
# ===============================
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/.cxx/
android/captures/
*.keystore
!debug.keystore

# ===============================
# iOS / Xcode
# ===============================
ios/Pods/
ios/build/
ios/DerivedData/
ios/xcuserdata/
ios/*.xcuserstate
ios/.xcode.env.local

# ===============================
# Fastlane
# ===============================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
ios/build/
*.log
.env

# ===============================
# Bundles
# ===============================
*.jsbundle

# ===============================
# Environment
# ===============================
.env
.env.local
.env.production
.env.staging

# ===============================
# Testing / Coverage
# ===============================
coverage/

# ===============================
# Logs
# ===============================
*.log

